* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
     background-color: #1741C4;
}

/* --------------- Header --------------------- */

header {
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #F0EEFF;
}

.qnt_itens {
    background-color: #FFFFFF26;
    width: 108px;
    height: 39px;
    border-radius: 36px;
    color: white;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

/* ---------------- Main ------------------ */

main {
    height: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.empty_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.empty_list {
    width: 392px;
    height: 131px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop_cart {
    display: flex;
    width: 62px;
    height: 62px;
    background-image: url(./assets/shopping_cart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.empty_text {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.empty_subtext {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.app_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.add_item {
    display: flex;
    width: 272px;
    height: 54px;
    border-radius: 14px;
    border: none;
    background-color: #FFD426;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #1741C4;
    font-weight: bolder;
}

.edit_list {
    display: flex;
    width: 197px;
    height: 54px;
    border-radius: 14px;
    border: none;
    background-color: #64AD36;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    gap: 5px;
}

/* -------------------- Overlay add item ----------------------- */

#overlay {
    margin: auto;
    position: fixed;
    border: none;
    border-radius: 16px;
}

#overlay::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.add_item_overlay_content {
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 40px;
}

.overlay_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.overlay_title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-style: bolder;
}

.exit_button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    text-decoration: none;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap:6px;
}

.label_overlay {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    font-weight: 700;
    color: #9999B0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.input_overlay {
    border: 1px solid #fafafa;
    width: 100%;
    border-radius: 12px;
    width: 472px;
    height: 52px;
    background-color: #fafafa;
    font-weight: 400;
}

.add_item_overlay_content_buttons {
    display: flex;
    gap: 10px;
}

.cancel_button {
    width: 174px;
    height: 50px;
    font-weight: 600;
    font-style: bolder;
    border: none;
    border-radius: 14px;
    color: #777777;
}

.add_button {
    width: 264px;
    height: 50px;
    background-color: #1741C4;
    font-weight: 700;
    font-style: bolder;
    border: none;
    border-radius: 14px;
    color: white;
}

/* ------------------------------------------------------- */

.hidden {
    display: none;
}

.filled_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.itemcard {
    width: 640px;
    height: 60px;
    border-radius: 16px;
    background-color: #64AD36;
    color: white;
    display: flex;
    align-items: center; 
    gap: 20px;
    padding-left: 45px;
    font-weight: 500;
    font-style: medium;
}

.item_qnt {
    min-width: 60px;
    height: 25px;
    border-radius: 16px;
    background-color: #496AEDE5;
    color: white;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.item_bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFD426;
    flex-shrink: 0;
}